name: readme-scribe

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */12 * * *'
  push:
    branches:
      - 'main'
    paths:
      - .github/workflows/readme-scribe.yml
      - profile/README.md.tpl

jobs:
  readme-scribe:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v6
      -
        uses: muesli/readme-scribe@d2f6ab32d6b9f5b59941fe782d6c7e6499a37fe4
        with:
          template: profile/README.md.tpl
          writeTo: profile/README.md
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
      -
        name: Clear DDSRem-Dev/.github
        run: |
          sed -i '\|- \[DDSRem-Dev\/\.github\](https:\/\/github\.com\/DDSRem-Dev\/\.github)|d' profile/README.md
      -
        uses: stefanzweifel/git-auto-commit-action@65c56779c90b0324ac2a7e7c31ec876b8db47914
        with:
          commit_message: 'Update generated README'
          branch: main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
